<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :streetaddress %><br>
    <%= f.text_area :streetaddress %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_area :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_area :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_area :zip %>
  </div>
  <div class="field">
    <%= f.label :primaryemail %><br>
    <%= f.text_area :primaryemail %>
  </div>
  <div class="field">
    <%= f.label :homephone %><br>
    <%= f.text_area :homephone %>
  </div>
  <div class="field">
    <%= f.label :cellphone %><br>
    <%= f.text_area :cellphone %>
  </div>
  <div class="field">
    <%= f.label :created %><br>
    <%= f.datetime_select :created %>
  </div>
  <div class="field">
    <%= f.label :modified %><br>
    <%= f.datetime_select :modified %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
